@import 'semantic';
// @import 'add-to-homescreen';
@import 'weather';

/* My Styles */
#cheney i {
    color: aqua;
    font-size: 6em;
}

/* Custom Background */
.bg-1 {
    background: teal;
    transition: background 7s 1s; 
}